In [1]:
import json
import requests

# Load secrets from credentials.json
url = 'https://api.foursquare.com/v2/venues/explore'
with open('.secrets/credentials.json') as f:
    params = json.load(f)

In [40]:
params['v'] = '20180323' # 'Version', code written as of documentation on march 23, 2018, API changes won't break code
params['ll'] = '47.608,-122.337', #lat/long
params['query'] = 'sushi', 
params['limit'] = 1000 #how many I want back

In [41]:
response = requests.get(url=url, params=params)
data = json.loads(response.text)

In [42]:
data.keys()

dict_keys(['meta', 'response'])

In [43]:
data['meta']

{'code': 200, 'requestId': '5cc21d5c4c1f674390d6f4f6'}

In [44]:
data['response'].keys()

dict_keys(['suggestedFilters', 'suggestedRadius', 'headerLocation', 'headerFullLocation', 'headerLocationGranularity', 'query', 'totalResults', 'suggestedBounds', 'groups'])

In [45]:
results = data['response']['groups'][0]['items']

In [46]:
venues = []
venue_names = []
for result in results:
    venues.append(result['venue'])
    venue_names.append(result['venue']['name'])

In [47]:
len(venues)

18

In [48]:
venue_names

['Japonessa',
 'Urara Japanese Cuisine',
 'Umi Sake House',
 'Dragonfish Asian Cafe',
 'Ohana',
 "Shiro's",
 'Tsukushinbo',
 'Maneki',
 'Tamari Bar',
 'Suika Seattle',
 'Sansei',
 'ricenroll',
 'Cutters Crabhouse',
 'Bento Kudasai',
 'Sake Nomi',
 'Aburiya Bento House',
 'Yard House',
 "Rocco's"]

In [49]:
import pandas as pd
df = pd.DataFrame(venues)

In [50]:
df.head().T

,0,1,2,3,4
beenHere,"{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","{'count': 0, 'lastCheckinExpiredAt': 0, 'marke...","{'count': 0, 'lastCheckinExpiredAt': 0, 'marke..."
categories,"[{'id': '4bf58dd8d48988d1d2941735', 'name': 'S...","[{'id': '4bf58dd8d48988d1d2941735', 'name': 'S...","[{'id': '4bf58dd8d48988d1d2941735', 'name': 'S...","[{'id': '4bf58dd8d48988d1d2941735', 'name': 'S...","[{'id': '4bf58dd8d48988d1d2941735', 'name': 'S..."
contact,{},{},{},{},{}
delivery,NaN,"{'id': '890863', 'url': 'https://www.grubhub.c...",NaN,"{'id': '560755', 'url': 'https://www.grubhub.c...",NaN
hereNow,"{'count': 1, 'summary': 'One other person is h...","{'count': 0, 'summary': 'Nobody here', 'groups...","{'count': 0, 'summary': 'Nobody here', 'groups...","{'count': 1, 'summary': 'One other person is h...","{'count': 0, 'summary': 'Nobody here', 'groups..."
id,4c51cb5494790f4784aba7a1,595a95f735d3fc2a96f5a1df,447da2d6f964a520fb331fe3,40b52f80f964a5204b001fe3,40ccea80f964a52017011fe3
location,"{'address': '1400 1st Ave', 'crossStreet': 'at...","{'address': '82 Stewart St', 'crossStreet': 'P...","{'address': '2230 1st Ave', 'crossStreet': 'bt...","{'address': '722 Pine St', 'crossStreet': 'at ...","{'address': '2207 1st Ave', 'crossStreet': 'bt..."
name,Japonessa,Urara Japanese Cuisine,Umi Sake House,Dragonfish Asian Cafe,Ohana
photos,"{'count': 0, 'groups': []}","{'count': 0, 'groups': []}","{'count': 0, 'groups': []}","{'count': 0, 'groups': []}","{'count': 0, 'groups': []}"
stats,"{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun...","{'tipCount': 0, 'usersCount': 0, 'checkinsCoun..."
venuePage,{'id': '53223536'},NaN,NaN,{'id': '32689791'},NaN
verified,True,False,False,True,False

In [51]:
df.hereNow

0     {'count': 1, 'summary': 'One other person is h...
1     {'count': 0, 'summary': 'Nobody here', 'groups...
2     {'count': 0, 'summary': 'Nobody here', 'groups...
3     {'count': 1, 'summary': 'One other person is h...
4     {'count': 0, 'summary': 'Nobody here', 'groups...
5     {'count': 0, 'summary': 'Nobody here', 'groups...
6     {'count': 0, 'summary': 'Nobody here', 'groups...
7     {'count': 0, 'summary': 'Nobody here', 'groups...
8     {'count': 0, 'summary': 'Nobody here', 'groups...
9     {'count': 0, 'summary': 'Nobody here', 'groups...
10    {'count': 0, 'summary': 'Nobody here', 'groups...
11    {'count': 0, 'summary': 'Nobody here', 'groups...
12    {'count': 0, 'summary': 'Nobody here', 'groups...
13    {'count': 0, 'summary': 'Nobody here', 'groups...
14    {'count': 0, 'summary': 'Nobody here', 'groups...
15    {'count': 0, 'summary': 'Nobody here', 'groups...
16    {'count': 1, 'summary': 'One other person is h...
17    {'count': 0, 'summary': 'Nobody here', 'groups...
Name: hereNow, dtype: object

In [15]:
import pymongo
mc = pymongo.MongoClient() #URL of MongoDB atlas
db = mc['foursquare']
coll = db['pilates']

coll.insert_many(venues)

In [ ]:
list(coll.find())